* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  padding: 10px;
}
.logo {
  width: 150px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.container {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.step {
  font-size: 15px;
  background-color: #f1f5f9;
  margin-bottom: 15px;
  border-radius: 40px;
  padding: 10px;
  max-width: 100px;
  align-self: self-end;
  color: #334155;
}
h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.subtitle {
  color: #64748b;
  font-size: 14px;
  margin-bottom: 40px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}
input {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: none;
  background-color: #f1f5f9;
  margin-bottom: 30px;
  font-size: 14px;
  color: #9ca3bd;
}
input:focus {
  background-color: #ffffea;
  outline: 1px solid #c8c83a;
}
.btn {
  background-color: #075143;
  padding: 15px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
}
.btn:hover {
  background-color: #064439;
  transition: 0.4s;
}
.button {
  text-align: center;
  font-size: 14px;
}
.button a {
  text-decoration: none;
  color: #064439;
  font-weight: 500;
}
.chat {
  position: fixed;
  font-size: 30px;
  background-color: #075143;
  color: white;
  right: 25px;
  bottom: 25px;
  border-radius: 100%;
  border: none;
  padding: 18px;
  display: flex;
  cursor: pointer;
}
